#? stdtmpl | standard
#proc index_html(message: string): string =
#  result = ""
<h1>ManageUsers index</h1>
<p><a href="/ManageUsers/create/">新規作成</a></p>
<p><a href="/ManageUsers/1/">ユーザー1</a></p>
<p>${message}</p>